<div class='showw'>

<h2>Requester:'<%=@request_obj.acceptor%>' is not changeable</h2>

<form action="/request/<%=@request_obj.id%>" method='post' > 
<input type="hidden" name='_method' value="put">

<label for="">You requested <%=@request_obj.item%></label><br>
<input type="text" name='item' placeholder="new items"><br>
<label><%=@request_obj.amount%> requested, enter new amount:</label><br>
<input type="text" name='amount' placeholder="new amount"><br>
<label for="">Edit your story:</label><br>
<textarea name="story" cols="30" rows="10"></textarea>
<br>
	<button>Submit</button>
</form>
</div>